.contenedorGeneral{
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "articulos articulos articulos"
    "footer footer footer";
    grid-template-columns: 35% 35% 30%;
    grid-template-rows: 100px auto 100% 100px; 
    padding-left: 0%;
    padding-right: 0%;
    margin: 0px;
 }

.articulos{
    @include flex(flex, row, left, left, 0, wrap);
    grid-area: articulos;
    width: 100%;
    border-color: map-get($colors, texto-cards);

    #imagenInicio{
        width:400px;
        height:300px;
        top: 100px;
     }

     .imagenInicio{
        width: 400px;
        height: 300px;
     }

     .textoCards{
        background-color: map-get($colors, encabezado-cards);
        color:map-get($colors, texto-cards );
        text-align: center;
        font-family: 'Assistant', sans-serif;
        width: 400px;                
     }
 
      &__articulo1{     
         grid-area: articulos;      
         border-style: ridge;
         border-radius: 10px;
         margin-top: 2rem;
         height: max-content;
         width: max-content;
         border-color: map-get($colors, borde-cards);
      }

      &__articulo2{    
         @extend .articulos__articulo1;
         margin-left: 30px;  
         top:200px;
         left: 800px;         
      }

      &__articulo3{ 
         @extend .articulos__articulo1;
         margin-left: 30px;
         top:200px;
         left: 900px;
      }  

 }

      h2{
         color: map-get($colors, titulos); 
         font-size: 2em;
         font-family: 'Trebuchet MS';
      }

@media screen and (max-width: 768px){
   
   .titulosPaginas{
      font-size: 2em;
   }
   

   p{
      font-size: 1.2em;
   }

   h4{
      font-size: 2em;
   }
   
   /* .contenedorImagenes{               
      width: 100%;
      flex-wrap: wrap; 
   } */

    .seccionPaginas{
      width:max-content;
   }

   .imagenesEscuela{
      width: 10%;
      height: 40%;    
  }
}

