h4{
    padding-left: 30px;
    color: map-get($colors, subtitulos);
    font-size: 2em;
 }

 p{
    font-size: 1.8em;
    font-family: 'Assistant', sans-serif;
    margin-top: 15px;
    margin-left: 20px;
    letter-spacing: 0.1rem;
 }