$text-lg: 3em;
$text-md: 1.5em;

$colors:(
     texto-encabezado: #e7e2e2,
     fondo-encabezado: brown,
     texto-links: rgb(240, 233, 229),
     hover: black,
     titulos: brown,
     subtitulos:rgb(212, 81, 81),
     texto-footer:rgb(250, 244, 244),
     texto-cards:rgb(236, 218, 196),
     fondo-gradiente-fuerte:#FF5F6D,
     fondo-gradiente-suave:#ff9068,
     fondo-gradiente-nav-fuerte:#ff4b1f,
     fondo-gradiente-nav-suave:#ff9068
    );

 